::-webkit-scrollbar { /* 1 - скроллбар */
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
  }


  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 4px;
    background-color: #d1d1d1;
  }

 